#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a > #backgroundBox {
  position: absolute;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 667.0px;
  width: 100%;
  height: 100%;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 100.14992503748125%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Panel_1 {
  width: 375.0px;
  height: 79.460266%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Panel_1 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_1 {
  position: absolute;
  width: 181.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_1 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.3pt;
  line-height: 20px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.3pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_2 {
  position: absolute;
  width: 113.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_2 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_2 span {
  color: #8A8A8E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.8pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #8A8A8E;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.8pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_1 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_1 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_2 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_2 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_3 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_3 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_4 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_4 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_5 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_5 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_6 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_6 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_3 {
  position: absolute;
  width: 117.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_3 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.800001pt;
  line-height: 22px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.800001pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_7 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_7 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_8 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_8 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_9 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_9 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_10 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_10 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_11 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_11 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_12 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_12 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_13 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_13 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_14 {
  position: absolute;
  width: 93.0px;
  height: 93.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_14 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_4 {
  position: absolute;
  width: 102.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_4 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.8pt;
  line-height: 22px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.8pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_2 {
  position: absolute;
  width: 152.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_2 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 {
  position: absolute;
  width: 100.0%;
  min-height: 88.0px;
  opacity: 0.82;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_5 {
  position: absolute;
  width: 135.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_5 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.800001pt;
  line-height: 22px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.800001pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_6 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_6 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_15 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_15 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_16 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_16 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_17 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_17 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Button_1 {
  position: absolute;
  width: 78.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Button_1 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_7 {
  box-shadow: none;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_7 span {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_18 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a #s-Image_18 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dd4ec2de-bc8b-4243-aa4c-bb8936a90e1a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}